/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 0px;
    box-sizing: border-box;
}

/****** Header ******/

.header {
    display: flex;
    justify-content: space-between;
}

.logo-booki {
    padding: 30px 0;
    margin: 0 50px;
}

.logo {
    height: 19px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: baseline;
    justify-content: space-between;
    width: 294px;
}

.bouton-hebergements {
    border-top-style: solid;
    border-top-color: transparent;
    border-top-width: 2px;
    padding-top: 8px;
}

.bouton-hebergements:hover {
    border-top-color: #0065FC;
    color: #0065FC
}

.bouton-activites {
    margin-right: 50px;
    border-top-style: solid;
    border-top-color: transparent;
    border-top-width: 2px;
    padding-top: 8px;
}

.bouton-activites:hover {
    border-top-color: #0065FC;
    color: #0065FC
}

/*** Formulaire de recherche ***/
.infos {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.groupe-infos{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.titre-infos {
    font-family: "Raleway-Bold", Helvetica;
    font-size: 22px;
    margin: 0;
}

/****** Bar de recherche ******/

.formulaire-recherche {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    width: 377px;
    height: 49px;
}

.btn-localisation {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar-rechercher {
    width: 44%;
    padding: 15px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F2F2;
}

#text-rechercher {
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway-Bold", Helvetica;
    border: 0;
}

.btn-rechercher {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0 ;
    color: white;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 18px;
    padding: 15px 16px;
    display: inline-flex;
    flex-wrap: wrap;
}

#icone-rechercher {
    background-color: #0065FC;
    padding: 15px 16px;
    display: none;
}

/****** Filtres ******/

.filtres {
    display: flex;
    flex-direction: column;
}

.infos-filtres {
    display: flex;
    align-items: center;
    padding-top: 35px;
}

.text-filtres {
    font-family: "Raleway-Bold", Helvetica;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.groupe-filtres {
    display: flex;
    flex-direction: row;
}

#icone-filtre {
    display: flex;
    padding: 4px 19px;
    border-radius: 25px;
    border: 2px solid #F2F2F2;
    margin-left: 15px;
    align-items: center;
}

.text-icone {
    font-family: "Raleway-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    margin-left: 10px;
}

#icone-filtre:hover {
    background-color: #DEEBFF;
}

.informations {
    display: flex;
    align-items: center;
    padding-top: 35px;
}

#icone-infos {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 1px #F2F2F2;
    margin-right: 10px;
}

#text-infos {
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0px auto;
    max-width: 1440px;
    min-width: 320px;
}

main {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    margin-top: 35px;
    width: 67%;
}

#titre-contenu {
    margin: 0 0 30px 0;
    font-size: 22px;
    font-weight: 700;
}

.groupe-chambres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartes {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 207px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 30px;
}

.images-chambres {
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    padding: 5px;
}

.carte-contenu {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.carte-titre {
    margin: 4px 0 8px 0;
    font-size: 16px;
    font-weight: 700;
}

.carte-soustitre {
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 400;
}

.icone-etoiles {
    margin-bottom: 15px;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    margin-top: 35px;
    width: 30%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ******/

.activites {
    margin: 35px 50px 35px 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#titre-activites {
    margin: 0 0 30px 0;
    font-size: 22px;
    font-weight: 700;
}

.groupe-activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartes-activites {
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    width: 298px;
    height: 439px;
}

.images-activites {
    object-fit: cover;
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.description-activites {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 19px;
    margin: 0;
}

/****** Footer ******/

footer {
    margin: 0 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#footer-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: baseline;
}
.a-propos {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    width: 33%;
}

.a-propos h3 {
    font-size: 18px;
    font-weight: 700;
}

.a-propos li {
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    padding-bottom: 15px;
}

.a-propos ul {
    margin: 0;
    padding: 0;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .infos-filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    .groupe-filtres {
        padding-top: 20px;
    }

    #icone-filtre {
        margin: 0 15px 0 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .cartes-activites {
        width: 194px;
        height: 270px;
    }
    
    .images-activites {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .header {
        flex-direction: column;
        align-items: center;
    }
    
    .menu {
        width: 375px;
        text-align: center;
        padding: 0;
    }
    
    .bouton-hebergements {
        width: 100%;
        padding: 0 0 15px 0;
        border-bottom: #F2F2F2 2px solid;
        border-top: 0px;
    }
    
    .bouton-hebergements:hover {
        border-top-color: transparent;
        border-bottom: #0065FC 2px solid;
        color: #0065FC;
    }
    
    .bouton-activites {
        width: 100%;
        padding: 0 0 15px 0;
        border-bottom: #F2F2F2 2px solid;
        margin: 0;
        border-top: 0px;
    }
    
    .bouton-activites:hover {
        border-top-color: transparent;
        border-bottom: #0065FC 2px solid;
        color: #0065FC;
    }

    .infos {
        padding: 20px;
    }

    .formulaire-recherche {
        width: 100%;
    }

    #bar-rechercher {
        width: 61%;
    }
    
    .btn-rechercher {
        display: none;
    }
    
    #icone-rechercher {
        display: flex;
        border-radius: 15px;
    }

    .groupe-filtres {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .groupe-filtres a {
        width: 47%;  
        margin-bottom: 15px;
    }

    #icone-filtre {
        margin: 0;
    }

    .hebergements-and-populaires {
        padding: 0;
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires .hebergements {
        background-color: transparent;
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0;
    }

    .hebergements-and-populaires section {
        padding: 20px;
    }

    .hebergements {
        margin-top: 15px;
    }

    .populaires {
        margin-top: 30px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .cartes {
        width: 335px;
    }

    .activites {
        margin: 0 0 35px 0;
    }

    .groupe-activites {
        justify-content: space-around;
    }

    .groupe-activites a {
        padding-top: 15px;
    }

    .cartes-activites {
        width: 315px;
        height: 200px;
    }

    .images-activites {
        height: 141px;
    }

    footer {
        margin: 0;
    }

    #footer-items {
        flex-direction: column;
        padding: 30px;
        margin: 0;
    }

    .a-propos {
        width: 70%;
        padding: 0;
    }
}